* {
  margin: 0;
  padding: auto;
}
a {
  text-decoration: none;
}
body {
  background: var(--accent -2-shade);
}
button {
  border: none;
  cursor: pointer;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
